
<% if @current_user %>
	<h2 style="color: red; text-align: center">Welcome, <%= @current_user.username %></h2>
<% end %>
<%= render 'sessions/navbar' %>
<%= react_component 'Appl' %>
<button><a href="/items">Home</a></button>
<% if @current_user %>
<% if @keyword %>
	<h2>Searching by keyword: <span style="color: red"><%= @keyword %></span>.You can try also: <span style="color: red"><%= @keyword.upcase %></span> or <span style="color: red"><%= @keyword.capitalize %></span>.</h2>
<% end %>
	<div id="search-by-keyword">
		<button id="keyword-search">Search by keyword...</button>
		<div id="search-form" class="hidden">
			<%= form_tag("/items/search_by_keyword", method: "get", :class => "keyword-search") do %>
			  <%= label_tag(:keyword, "Search for:") %>
			  <%= text_field_tag(:keyword) %>
			  <input type="submit" value="Search" />
			<% end %>
		</div>
	</div>
	<div id="all-items">
		<div class="items-column" id="lost-items">
			<%= render partial: "items/items_table", locals: { status: "Lost" , items: @lost_items} %>
			<div class="new-comment-partial" >
				<%= render "comments/new" %>
			</div>
		</div>

		<div class="items-column" id="found-items">
			<%= render partial: "items/items_table", locals: { status: "Found" , items: @found_items} %>
			<div class="new-comment-partial" >
				<%= render "comments/new" %>
			</div>
		</div>
	</div>
	<button id="add-item">New Item</button>
	<div id="new-item-form">
		<%= render 'form' %>
	</div>
	<div>
		<button id="api-call">Make API call</button>
	</div>
<% else %>
	<h2>You need to log in to see all items!</h2>
<% end %>
